 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }
 
 body {
     background: linear-gradient(to right, rgb(248, 252, 249) 70%, /* White will cover 75% of section */
     #cfffe3 100%
     /* Mint green starts around 75% and fills till 100% */
     );
 }
 
 .button {
     color: white;
     font-size: 20px;
     padding: 20px;
     background-color: green;
     font-weight: 600;
     border-radius: 8px;
 }
 
 .button:hover {
     background-color: rgb(1, 163, 1);
     position: relative;
     bottom: 2px;
     left: 2px;
 }
 
 .common {
     display: flex;
     align-items: center;
 }
 
 .common-flex-row {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
 }
 
 .common-flex-column {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 20px;
 }
 
 .common-green {
     color: green;
 }
 
 .common-text-grey {
     color: darkslategray;
 }
 
 .topnav {
     height: 40px;
     background-color: rgb(0, 0, 0);
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: left;
     gap: 20px;
     color: white;
     font-weight: 600;
     padding: 0px 20px 0px 20px;
 }
 
 nav,
 body nav div,
 body nav button,
 body nav span,
 body nav p,
 body nav img {
     cursor: pointer;
     /* border:2px solid black; */
 }
 
 body nav div,
 body nav button {
     padding: 10px;
 }
 
 body nav {
     justify-content: space-between;
     background-color: white;
     position: sticky;
     height: 60px;
     top: 0%;
     padding: 0px 20px 0px 20px;
     display: flex;
     align-items: center;
     box-shadow: 0px 2px 02px grey;
     font-size: 20px;
     z-index: 1;
 }
 
 body nav a {
     text-decoration: none;
     color: black;
 }
 
 body nav img {
     height: 30px;
     width: 30px;
 }
 
 body nav div {
     display: flex;
     align-items: center;
 }
 
 .sy-logo {
     height: 30px;
     width: 4cm;
 }
 
 .nav-explore {
     border: 1px solid black;
     border-radius: 5px;
     padding: 5px;
 }
 
 .nav-explore:hover .nav-explore-arrow {
     transform: rotate(180deg);
     transition: .6s;
 }
 
 .search-container {
     display: flex;
     align-items: center;
     border: 1px solid rgb(183, 181, 181);
     border-radius: 50px;
     height: 40px;
     width: 800px;
 }
 
 #search {
     border: none;
     /* height: 39px; */
     text-align: left;
     width: 750px;
     border-radius: 50px;
     padding-left: 10px;
     outline: none;
 }
 
 #search-icon {
     height: 35px;
     width: 35px;
     outline: none;
 }
 
 .nav-resources {
     position: relative;
 }
 
 .nav-resources:hover .nav-resources-arrow {
     transform: rotate(180deg);
     transition: .6s;
 }
 
 .nav-resources-div {
     display: none;
 }
 
 .nav-resources:hover .nav-resources-div {
     position: absolute;
     text-decoration: none;
     top: 90%;
     background-color: white;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: first baseline;
     gap: 10px;
     padding: 20px;
 }
 
 .nav-events {
     position: relative;
 }
 
 .nav-events:hover .nav-events-arrow {
     transform: rotate(180deg);
     transition: .6s;
 }
 
 .nav-events-div {
     display: none;
 }
 
 .nav-events:hover .nav-events-div {
     position: absolute;
     text-decoration: none;
     top: 90%;
     background-color: white;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: first baseline;
     gap: 10px;
     padding: 20px;
 }
 
 .nav-more-items {
     position: relative;
 }
 
 .nav-more-items:hover .nav-more-items-arrow {
     transform: rotate(180deg);
     transition: .6s;
 }
 
 .nav-more-items-div {
     display: none;
 }
 
 .nav-more-items:hover .nav-more-items-div {
     position: absolute;
     text-decoration: none;
     top: 90%;
     background-color: white;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: first baseline;
     gap: 10px;
     padding: 20px;
 }
 
 .btn1 {
     color: #04de3b;
     width: 2cm;
     height: 40px;
     font-weight: 900;
     border: 2px solid #04de3b;
     border-radius: 5px;
     outline: none;
 }
 
 .btn1:hover {
     background-color: black;
     color: white;
     scale: 1.2;
 }
 
 .web-stack {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .web-stack-parent-div {
     width: 80%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 40px;
 }
 
 .web-stack-div-1 {
     width: 100%;
     font-size: 23px;
     display: flex;
     text-align: center;
     flex-direction: column;
     gap: 20px;
 }
 
 .web-stack-div-2 {
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 20px;
 }
 
 .web-stack-div-2-divs {
     padding: 10px;
     color: white;
     font-weight: 600;
     background-color: #04de3b;
     border-radius: 5px;
 }
 
 .web-stack-div-3 {
     position: relative;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .web-stack-icon {
     width: 100px;
     height: 100px;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     padding: 15px;
     border-radius: 50px;
     box-shadow: 0px 0px 20px rgb(70, 70, 70);
     ;
 }
 
 .node {
     position: absolute;
     top: 200px;
     left: 70px;
 }
 
 .html {
     position: absolute;
     top: 100px;
     left: 500px;
 }
 
 .css {
     position: absolute;
     top: 220px;
     left: 240px;
 }
 
 .mongodb {
     position: absolute;
     top: 350px;
     left: 190px;
 }
 
 .javascript {
     position: absolute;
     top: 90px;
     left: 350px;
 }
 
 .mysql {
     position: absolute;
     top: 250px;
     left: 440px;
 }
 
 .tailwindcss {
     position: absolute;
     top: 400px;
     left: 380px;
 }
 
 .python {
     position: absolute;
     top: 0px;
     left: 650px;
 }
 
 .react {
     position: absolute;
     top: 200px;
     left: 650px;
 }
 
 .php {
     position: absolute;
     top: 350px;
     left: 580px;
 }
 
 .expressjs {
     position: absolute;
     top: 100px;
     left: 800px;
 }
 
 .bootstrap {
     position: absolute;
     top: 20px;
     left: 970px;
 }
 
 .angular {
     position: absolute;
     top: 250px;
     left: 870px;
 }
 
 .flask {
     position: absolute;
     top: 370px;
     left: 750px;
 }
 
 .django {
     position: absolute;
     top: 180px;
     left: 1050px;
 }
 
 .footer {
     margin: 580px 0px 0px 0px;
     background-color: #050b1a;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .footer-content {
     width: 80%;
     padding: 20px 0px 40px 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 40px;
 }
 
 #footer-logo {
     width: 320px;
     height: 55px;
     ;
 }
 
 .footer-div-1 {
     width: 100%;
     padding: 50px 0px 0px 0px;
     display: flex;
     justify-content: space-between;
     gap: 200px;
     text-align: left;
 }
 
 .footer-logo-div {
     width: 500px;
     display: flex;
     flex-direction: column;
     gap: 40px;
 }
 
 .footer-socials-div {
     display: flex;
     gap: 10px;
 }
 
 .footer-div-1-2 {
     display: flex;
     width: 600px;
     flex-direction: column;
     gap: 25px;
 }
 
 .footer-div-2 {
     width: 100%;
     display: flex;
     justify-content: space-between;
     text-align: left;
     /* gap: 180px; */
 }
 
 .footer-div-2-divs {
     font-size: 15px;
     display: flex;
     flex-direction: column;
     color: lightslategray;
     gap: 15px;
 }
 
 .footer-div-3 {
     width: 100%;
     display: flex;
     gap: 580px;
     justify-content: space-between;
 }
 
 .footer-div-3-color {
     font-size: 15px;
     color: white;
     /* color: darkslategray; */
 }